#demo-echoforms-form {
  margin:1em 0;
  border: 1px solid #888;
}

#demo-echoforms-form h1 {
  font-size: 1.3em;
}

#demo-echoforms-xml {
  width: 100%;
  height: 20em;
}

body {
  padding: 0 5em;
}
