$echoforms-label-column-width: 11em;

// The root control
.echoforms-control-ui {
  p {
    margin: {
      top: 0;
      bottom: 0;
    }
  }
}

// All controls
.echoforms-control {
  clear: both;
  padding: .5em 0;

  > .echoforms-label,
  > .echoforms-elements,
  > .echoforms-help {
    display: block;
    padding: .2em 0;
  }
}

// All non-grouping controls
.echoforms-typed-control {
  > * {
    margin-left: $echoforms-label-column-width;
  }

  > .echoforms-label {
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    float: left;
    margin-left: 0;
    width: $echoforms-label-column-width;
    padding: .3em .5em .2em;
    text-align: right;
  }
}

// <group> controls
.echoforms-control-group {
  border: solid #aaa;
  border-width: 1px 0px;

  &:first-child {
    border-top-width: 0;
  }

  &:last-child {
    border-bottom-width: 0;
  }
}

// <input type="xs:boolean"> controls (checkboxes)
.echoforms-control-checkbox {
  > .echoforms-elements,
  > .echoforms-label {
    display: inline;
    float: none;
  }
}

// <output> controls
.echoforms-control-output {
  > .echoforms-elements {
    // Use the same vertical padding as their corresponding label
    padding:.3em 0 .2em;
  }

}
